doctype html
html
  head
    title Carrito de Compras
    link(rel='stylesheet' href='css/carrito.css')
  body
    nav
      h1 Tienda fake 
        #carrito
          a(href="carrito")
            img(src='img/carrito.png')
          span.acumulador.enlace 0
    .resumen 
    .comprar
      .finalizarCompra 
    script(src="/js/carrito.js" defer)
     