doctype html
html
  head
    title Carrito de Compras
  style.   
    #carrito {
      position: fixed;
      top: 20px;
      right: 30px;
      cursor: pointer;
    }
    #carrito img{
      background-image: url('img/carrito.png');
      background-size: cover;
      width: 35px;
      height: 35px;
      padding: 0;
    }

  body
    nav
      h1 Tienda fake 
        #carrito
          a(href="carrito")
            img(src='img/carrito.png')
          span.acumulador.enlace 0
    .resumen 
    .comprar
      .finalizarCompra 
    script(src="/js/carrito.js" defer)
     