body{
    background-image: url("../img/background.jpg");
    background-size: cover;
}

#carrito {
    position: static;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

#carrito img {
    background-image: url('../img/carrito.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    padding: 0;
}